.window-div {
  position: absolute;
  z-index: 8;
  left: 20%;
  top: 5%;
}
.window-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.close-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: -1px;
  margin-top: -1px;
  transform: rotateZ(45deg);
  position: relative;
}
.window {
  width: 75vw;
  min-height: 80vh;
  position: absolute;
  resize: both;
  overflow: auto;
}
.window:nth-child(2) {
  margin: 2rem;
}
.footer {
  display: block;
  margin: 0.25rem;
  height: 31px;
  line-height: 31px;
  padding-left: 0.25rem;
}

.my-content {
  background: #fff;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  display: block;
  margin: 0;
  padding: 10px;
  height: 60vh;
  overflow: scroll;
}
