body {
  background-image: url("wallpaper.png");
  background-color: rgb(172, 156, 156);
  background-blend-mode: multiply;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.myAppbar {
  top: auto !important;
  bottom: 0;
}
