.pfp {
  width: 150px;
}

.name {
  font-size: 1.5rem;
  color: navy;
}

.about-bg-pic {
  width: 100%;
  height: 15vh;
  background: #4267b2;
  font-family: "Roboto" !important;
  font-size: 2rem;
  color: white;
}

.about-content {
  display: flex;
  flex-direction: row;
}
